{%  extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block content %}


    <div class="hero">
        <div class="header clearfix">
            <a href="{% url 'main' %}" class="logo"></a>
            {% include 'mainapp/includes/inc_menu.html' %}
            <a href="#" class="search"></a>
            <a href="#" class="basket"></a>
        </div>
        <h1>наши контакты</h1>
        <h3>Сегодня: {% now "DATETIME_FORMAT" %}</h3>
    </div>

    <div class="location">
        {% for itm_locate in locations %}
        <div class="location-1">
            <i class="fa fa-map-marker fa-5x"></i>
            <h4>{{ contact.city }}</h4>
            <div class="contacts">
                <h5>Телефон</h5>
                <p>{{ itm_locate.phone }}</p>
            </div>
            <div class="contacts">
                <h5>Email</h5>
                <p>{{ itm_locate.email }}</p>
            </div>
            <div class="contacts">
                <h5>Адрес</h5>
                <p>{{ itm_locate.address }}</p>
            </div>
        </div>
        {% endfor %}

    </div>

    <div class="clr"></div>

{% endblock content %}
